.appvide{
  display: flex;
  align-items: center;
}

.appcanvas{
  position: absolute;
  top: -24px
}

.myapp{
  display: flex;
  width: 40vw;
  height: 100vh;
  background: linear-gradient(180deg, #134080 0%, #0B2955 100%, #0B2955 100%);
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}